@use "bootstrap/dist/css/bootstrap.min.css";
@use "@fortawesome/fontawesome-free/css/all.min.css";

img.logo {
    max-width: 125px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    background-color: #fff;
    word-break: break-word;
    font-size: 18px !important;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

p {
    font-size: 14px !important;
}

.emoji-wrapper .emoji {
    font-size: 24px;
}
.emoji-wrapper-xl .emoji {
    font-size: 28px;
}

#main-navbar i,
#main-navbar a,
#main-navbar .emoji {
    font-size: 36px;
    margin-left: 8px;
    margin-right: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.list-group-item {
    font-weight: bold !important;
}
a .list-group-item {
    font-weight: normal !important;
    text-decoration: none !important;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #222;
    padding-top: 12px;
    padding-bottom: 100px;
}

#menu .fa {
    color: #cecece;
}

#nav {
    padding: 30px;

    a {
        font-weight: bold;
        color: #cecece;

        &.router-link-exact-active {
            color: #42b983;
        }

        &active {
            color: #333 !important;
        }
    }
}

#main-navbar a,
#main-navbar button {
    color: #cecece;
    cursor: pointer;
    text-decoration: none;
}

.list-group a {
    text-decoration: none;
}

#main-navbar a.active {
    color: #333;
}

.emoji-wrapper {
    text-align: center;
}

.list-group-item .emoji:first-child,
.emoji-wrapper .emoji:first-child,
#main-navbar i:first-child,
#main-navbar a:first-child,
#main-navbar .emoji:first-child, {
    margin-left: 0;
}

.list-group-item .emoji:last-child,
.emoji-wrapper .emoji:last-child,
#main-navbar i:last-child,
#main-navbar a:last-child,
#main-navbar .emoji:last-child, {
    margin-right: 0;
}

.list-group-item .emoji,
.emoji-wrapper-left .emoji {
    margin-left: 0;
    margin-right: 16px;
}

.emoji-wrapper .row .emoji {
    margin: 0;
}

#main-navbar i,
.list-group-item,
.emoji {
    cursor: pointer;
}

.emoji-wrapper-left,
.list-group-item,
.list-group-item .emoji-wrapper {
    text-align: left;
}

.elegant-input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}
.elegant-input:focus {
    box-shadow: none;
}

.progress-bar,
.progress {
    max-height: 5px;
}
.progress {
    margin-top: 5px;
    margin-bottom: 5px;
}

//@media only screen and (max-width: 767px) {
//    #main-navbar {
//        position: fixed;
//        bottom: 0;
//        left: 0;
//        width: 100%;
//        padding: 15px 15px 5px;
//        margin: 0;
//        z-index: 100;
//        background: white;
//        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
//    }
//}

#main-navbar .emoji-wrapper .emoji {
    margin-left: 0;
}
#main-navbar button {
    padding: 0;
    background: none;
    border: none;
}

#toc-container {
    padding-top: 20px;
}

#toc-container ul {
    padding: 0;
    padding-left: 20px;
}

#toc-container #toc a {
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}

#toc-container #toc a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.notifiation-badge {
    top: 5px !important;
    left: 35px !important;
}

#note-saved-indicator {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --text-color: white;
        --btn-bg: #333;
        --link-color: #313131;
        --border-color: #313131;
    }

    html,
    body,
    .list-group-item,
    #editorjs,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    input,
    input:active,
    input:focus,
    textarea,
    textarea:active,
    textarea:focus,
    input.form-control,
    input.form-control:focus,
    textarea.form-control,
    textarea.form-control:focus,
    hr {
        background-color: var(--bg-color);
        color: var(--text-color);
        border-color: var(--border-color);
    }

    a,
    a .list-group-item,
    .btn,
    #menu .fa,
    #main-navbar a:not(.active),
    #main-navbar button:not(.active) {
        color: var(--link-color) !important;
    }

    a:active,
    a.active,
    .router-link-exact-active {
        color: var(--text-color) !important;
    }

    .progress,
    .progress-stacked {
        background-color: var(--link-color);
    }

    .form-switch,
    .form-check-input {
        background-color: var(--bg-color);
        color: var(--link-color);
        border-color: var(--border-color);
    }
}
